@import url('reset.css');

body {
    background-color: #f9f9f9;
}

header {
    background-color: #FFFFFF;
}

.navigation {
    padding: 0px 24px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 404px;
    
}

.search-container #search {
    width: 348px;
    height: 40px;
    border: 1px solid #CCCCCC;
}

.search-container button {
    height: 40px;
    border: 1px solid #CCCCCC;
}


.navigation .left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navigation .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 16px;
    
}

.content {
    display: flex;
    flex-flow: column wrap;
    max-width: 952px;
    gap: 16px;

}

.content .img-video {
    width: 952px;
}

.content h1 {
    font-weight: 600px;
    font-size: 20px;
    color: #000;
}

.channel {
    display: flex;
    flex-flow: row wrap;
    height: 42px;
    gap: 42px;
    align-items: center;
}

.channel-info {
    display: flex;
    gap: 12px;
    height: 42px;
}

.channel img {
    width: 42px;
    height: 42px;
}

.channel-name {
    display: flex;
    flex-flow: column;
    gap: 0px;
    height: 32px;
}

.channel .sign-up {
    width: 159px;
    height: 40px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
}

.video-actions-icon {
    width: 24px;
    height: 24px;
}

.video-actions-text {
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.video-action {
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: 8px;
}

.video-action img {
    width: 24px;
    height: 24px;
}

.video-description {
    display: flex;
    flex-flow: column;
    gap: 8px;
    
}

aside {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.sidebar-video {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}


.infos {
    max-width: 196px;
}

.infos p {
    font-size: 12px;
}